@model QLKS.Models.CheckIn

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CheckIn</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Group.GroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group.GroupName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Room.RoomTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room.RoomTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OutofTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutofTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.IDCard)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.IDCard)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomCharge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomCharge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckInStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckInStatus)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
