@model QLKS.Models.Room

  
@using (Html.BeginForm("Index", "Room"))
{
    @Html.ValidationSummary(true)
      
    @Html.HiddenFor(model => model.RoomNoID)
    @Html.ValidationMessageFor(model => model.RoomNoID)  
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(model => model.Floor)
        </div>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Floor, new SelectList(ViewBag.Floor, "Value", "Text"), "-- Chọn tầng--")
            @Html.ValidationMessageFor(model => model.Floor)
        </div>
    </div>
    <div class="form-group">

        <div class="control-label col-md-3">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(model => model.RoomTypeID, "Loại Phòng")
        </div>
        <div class="col-md-9">
            @Html.DropDownList("RoomTypeID", "--Chọn loại phòng--")
            @Html.ValidationMessageFor(model => model.RoomTypeID)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-3">
            @Html.LabelFor(model => model.RoomPhone)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.RoomPhone)
            @Html.ValidationMessageFor(model => model.RoomPhone)
        </div>
    </div>

   <div class="box_button">
        <button type="submit" value="Create" >Thêm</button>
    </div>
} 
