@model QLKS.Models.Amenity

@{
    Layout = "../Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Xóa thiết bị";
}
<div class="container">
    <div class="messagse">
        <h3>Bạn có chắc chắn xóa thiết bị?</h3>
    </div>
</div>
<div class="col-md-12">
    <div class="portlet light   ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-pin font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Xóa thiết bị</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.AmenityName)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.AmenityName)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.Price)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Price)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            @using (Html.BeginForm())
            {
                <div class="box_button">

                    @Html.ActionLink("Trở về", "Index")
                    <button class="btn">Xóa</button>
                </div>
            }
        </div>
    </div>
</div>


