@model QLKS.Models.Revervation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Revervation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RevervationRoomType.RoomTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RevervationRoomType.RoomTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.IDCard)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.IDCard)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PeopleNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PeopleNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Requests)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Requests)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
